 
 #Bannertxt{
    font-size: clamp(3rem, 10vw, 5rem) !important;
    text-align: left;
 }
 #Bannersmall{
    text-align: left;
    font-weight: 200;
    margin: 15px 0 0 0;
 }
 #Bannerleft Button{
    margin: 15px 0;
    background-color: black;
    justify-content: flex-start;
 }
@media (min-width: 1024px) {
    .Banner1{
        display: flex;  
        flex-direction: row;
        min-height: 88vh;
        }
    #Bannerleft{
        display: flex;
        flex-direction: column;
        max-width: 50%;
        align-self: center;
        }
    #Bannerright{
        display: flex;
        max-width: 50%;
        align-items: center;
        justify-content: center;
        } 
    #Bannertxt{
        font-size: 80px;
        text-align: left;
        font-family: var(--meuve-family) !important;
    }
    #Bannersmall{
        font-size: 20px;
        text-align: left;
        margin-top: 30px;
        font-weight: 400;

        }
    #Bannerleft Button{
        display: flex;
        min-width: 20rem !important;
        min-height: 5rem !important;
        justify-content: center;
        align-self: flex-start;
        margin-top: 50px;
        border-radius: 60px;
        font-size: 1.2rem;
    }
    img{
        max-width: 80%;
        max-height: 80%;
        object-fit: cover;
        border-radius: 10%;
    }
}
 
 