 
 #Bannertxt{
    font-size: clamp(3rem, 10vw, 5rem);
    text-align: left;
 }
 #Bannersmall{
    text-align: left;
    font-weight: 200;
    margin: 15px 0 0 0;
 }
 #Bannerleft Button{
    margin: 15px 0;
    background-color: black;
    justify-content: flex-start;
 }

 
 
 
 /* .Banner1{
    display: flex;  
  flex-direction: row;
  min-height: 88vh;

}
#Bannerleft{
    display: flex;
    flex-direction: column;
     max-width: 50%;
    align-self: center;
}
 #Bannerright{
    max-width: 50%;
    margin-left: 100px;
    border: red solid;
} 
#Bannertxt{
    font-size: 80px;
    text-align: left;
    font-family: var(--meuve-family) !important;
}
#Bannersmall{
    font-size: 20px;
    text-align: left;
    margin-top: 30px;
    font-weight: 400;

}
#Bannerleft Button{
    max-width: 20rem !important;
    align-self: center;
    margin-top: 50px;
}
img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 10%;
}  */