#Banner5{
    padding: 4rem 0;
}
#Banner5 h1{
    padding-bottom: 4rem;
}
#Banner5 Button{
    margin: 1rem 0;
    min-height: 4rem;
    border-radius: 30px;
}
#Banner5 .Appleicon {
    margin-right: 3px;
}
#Banner5 .ShopTwoIcon{
    margin-right: 3px;
}

/* #Banner5{
    font-family: var(--meuve-family) !important;
    height: 80vh;
    font-size: 35px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#Banner5 Button{
    background-color: black !important;
    width: 30rem !important;
    height: 100px;
    align-self: center;
    border-radius: 50px;
    margin-top: 50px;
}
#Banner5 AppleIcon{
    margin-right: 100px;
} */
