.Navbar{
    display: flex;
    flex-direction:row;
}
#logo{
    min-height:  min-content;
}
#btnDiv{
    display: flex;
    justify-content: flex-end;
    align-self: center;
    width: 100%;
}
#demo-positioned-button{
    /* border: blue solid; */
    background-color: var(--meuve-background) !important;
    color: black;
}


/* 
#btnDiv{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.btns{
    background-color: var(--meuve-color) !important;
    font-family: var(--meuve-family) !important;
    font-size: var(--meuve-fontSizeBtns) !important;
    height: 70px;
} */
